<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alllist</title>
</head>
<body>
    <h1>All listings</h1>
    <form method="get" action="/listings/new">
        <button type="submit">CREATE A NEW </button>
    </form>
    <HR></HR>   
    <ul>
  <%for(listing of listings){ %>
        <div clsss = "listing">
           <li> <h2> <a href="/listings/<%= listing._id %>"><%= listing.title %></a></h2></li>
        </div>
     
       
    <%  }%>
 
</ul>
</body>
</html>
